body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

a:hover {
  text-decoration: underline; }

.box-1 {
  margin-bottom: 56px;
}
.box-2 {
  margin-bottom: 69px;
}
.box-1__content,
.box-2__content {
  display: flex;
  margin: 0 auto;
}

.box-1__header {
  margin-bottom: 62.29px;
  text-align: center;
}

.header-block__title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 700;
}

.header-block__subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: #666666;
}

.box-1__content {
  max-width: 1183px;
  flex-wrap: wrap;
  gap: 20px;
}

.items-cart {
  flex-basis: 381px;
}

.items-cart__link-text {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 600;
}

.border-image {
  border-radius: 10px;
  margin-bottom: 30px;
}

.box-2__header {
  text-align: center;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.box-2__content {
  max-width: 1236px;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}

.subitems-cart {
  flex-basis: 285px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.info-sub {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 15px 30px 16px;
}
.info-sub__text {
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #898989;
  font-weight: 500;
  margin-bottom: 8px;
}

.info-sub__prices {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
}

span {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.5;
  text-decoration: line-through;
  font-weight: 400;
}

.subitems-cart__link {
  display: block;
}
.info-sub__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 8px;
}

.subitems-cart__image {
  width: 100%;
}

.btn {
  font-size: 16px;
  line-height: 1.5;
  color: #b88e2f;
  padding: 12px 74px 12px 74px;
  min-width: 233px;
  font-weight: 600;
  border: 1px solid #b88e2f;
}


.lable {
  display: flex;
  max-width: 1236px;
  position: absolute;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  height: 446px;
  width: 285px;
  position: relative;
}
.labels {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.labels__item {
  height: 48px;
  width: 48px;
  font-size: 16px;
  border-radius: 50%;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.labels__item--new {
  background-color: #2ec1ac;
}
.labels__item--sale {
  background-color: #e97171;
}
.labels__item--last {
  background-color: #e97171;
  visibility: hidden;
}

.items-active__bottom {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #b88e2f;
  padding: 12px 52px 12px 59px;
  min-width: 202px;
  margin-bottom: 24px;
}
.subitems-cart:hover .active {
  visibility: visible;
}

.active {
  visibility: hidden;
  text-align: center;
  padding: 175px 17px 175px 16px;
  position: absolute;
  min-width: 285px;
  z-index: 3;
  background: rgb(51 51 51 / 72%);
}

.actions {
  display: flex;
  gap: 21px;
}

.actions__share {
  position: relative;
}

.share__link,
.compare__link,
.like__link {
  margin-left: 18px;
  color: #ffffff;
  opacity: 100;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.actions__share::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/Vector.svg) center no-repeat;
  margin: 4px 2px 4px 0px;
}

.actions__compare::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/Group.svg) center no-repeat;
  margin: 4px 2px 4px 0px;
}

.actions__like::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/Heart.svg) center no-repeat;
  margin: 4px 2px 4px 0px;
}
