main {
  background-color: antiquewhite;
}
.link {
  padding: 20px;
}
.link:hover {
  color: aqua;
}
.link:active {
  color: red;
}
.link:focus-visible {
  outline: 2px solid red;
}
.block {
  display: none;
  width: 100px;
  height: 100px;
  background-color: green;
}
.block:target {
  display: block;
  background-color: aqua;
}
.text-block p:first {
  color: aqua;
}
.text-block p:first-of-type {
  color: blue;
}
.text-block p:last-child {
  color: blueviolet;
}
.text-block p:nth-child(3) {
  color: white;
}
.button:hover {
  color: aqua;
}
.button:not(button) {
  color: red;
}

.agrolink {
  max-width: 474px;
  font-family: "Dm Sans", serif;
}
.agrolink > * {
  margin-bottom: 20px;
}
.agrolink-title {
  color: #131313;
  font-size: 50px;
  letter-spacing: -1.26px;
  line-height: 1.3;
}
.agrolink-title::before {
  content: "";
  display: block;
  width: 169px;
  text-decoration: underline;
  background: linear-gradient(
    90deg,
    rgba(18, 255, 70, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 4px;
  border-radius: 2px;
  margin-bottom: 17px;
}
span {
  font-weight: 700;
  color: #1aaf5b;
}
.agrolink-text {
  margin-right: 14px;
  color: #000000;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  opacity: 60%;
  margin-bottom: 58px;
}
.agrolink-href {
  line-height: 1.3;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.43px;
  color: #fff;
  background-color: #1aaf5b;
  border-top-right-radius: 18px;
  padding: 24px 40px 24px 40px;
}
.agrolink-href:after {
  content: "";
  background-image: url("../img/Path.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 18px;
  width: 20px;
  height: 22px;
  vertical-align: middle;
}
.agrolink-href:hover {
  background-color: #000000;
}
.agrolink > *:last-child {
  margin-bottom: 0;
}
.gamebox {
	padding: 50px;
	background-color: aqua;
	width: 230px;
}
.blocktwo {
	width: 15px;
	height: 55px;
}
.blocktree {
	width: 100px;
	height: 15px;
}
.blockfor {
	width: 15px;
	height: 15px;
	margin-left: 85px;
}
.blockfive {
	margin-left: 75px;
}
.blocktwo:hover {
	background-color: red;
}
.blocktree:hover {
	background-color: red;
}

.blockfor:hover {
	background-color: red;
}