li {
	line-height: 1.3;
	font-size: 20px;
}

li::before {
  content: '';
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

li:nth-child(1)::before {
  background: url('../img/akars-heart.svg') 0 50% no-repeat;
  margin-bottom: -10px;
}

li:nth-child(2)::before {
  background: url('../img/akars-seartch.svg') 0 50% no-repeat;
  margin-bottom: -10px;
}
.roomview {
	border-radius: 10px;
}