body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

.blank {
	width: 531px;
	padding: 119px 52px 63px 52px;
}


.form__fname,
.form__femail,
.form__fsubject {
	margin-bottom: 36px;
}

.form__fmessage {
	margin-bottom: 49px;
}
label {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	margin-bottom: 22px;
}

input {
	padding-left: 29.75px;
	padding-right: 29.75px;
	min-height: 75px;
	outline: 1px solid #9F9F9F;
	border-radius: 10px;
}

.fmessage__item {
	padding: 26px 30px 26px 30px;
	outline: 1px solid #9F9F9F;
	border-radius: 10px;
	height: 120px;
	resize: vertical;
}